Documentos/
Downloads/
Imagens/
Modelos/
Studies/
Vídeos/
Works/
go/
i3-gaps/
.atom/
.vscode/
.var/
.zoom/
.zsh_history
.zshenv
.zcompdump-home-5.8
.zcompdump
.wget-hsts
.vimtags
.viminfo
.GlobalProtect/
.android/
.anydesk/
.aws/
.bash_history
.bash_logout
.bkp_vimrc
.cache/
.cargo/
.docker/
.eclipse/
.env_neovim/
.fltk/
.git_template/
.gnupg/
.ipython/
.kite/
.kube/
.local/
.mozilla/
.node_repl_history
.npm/
.nv/
.oh-my-zsh/
.pam_environment
.pki/
.pylint.d/
.python_history
.rustup/
.selected_editor
.ssh/
.sudo_as_admin_successful
.swt/

Slack/
node_modules/
.config/nvim/plugged/
.vim/
.config/discord/
.tsuru/
.tmux/plugins/

*.log
